/* change how the fieldset displays, make sure its flex etc */
main form fieldset {
    display: flex;
    flex-direction: column;

    min-height: 30em;
}

/* Centre the h1 element, and make it white */
fieldset h1 {
    margin: auto;
    color: white;
}

/* make sure each of the paragraphs have some apdding and margin */
form p {
    --margin-size: 1rem;
    --padding-size: 0.5rem;

    margin: var(--margin-size);
    padding: var(--padding-size);
}

/* make sure both the imputs and the text areas have the same padding and margin */
form input, form textarea {
    box-sizing: content-box;
    padding: var(--padding-size);
    width: calc(100% - var(--padding-size));
    height: calc(100% - var(--padding-size));
}

/* by defualt the text area in the form has smaller font, reset it and make sure you can resize it */
form textarea {
    font-size: 16px;
    resize: none;
}

/* for the submit and clear buttons make sure to recalculate their width and margin so they fit nice */
form input[type="submit"], form input[type="reset"] {
    width: calc(50% - var(--padding-size) - var(--margin-size));
    margin: 0 var(--margin-size);
}
