/* change the body grid layout for screens with less width */
body {
    grid-template-areas:
        "header"
        "nav"
        "main"
        "footer";
    grid-template-columns: 100%;
    grid-template-rows: max-content max-content auto max-content;
}

header, nav, main, footer {
    margin: 0 1em;
}

