body {
    grid-template-areas:
        "header header header nav nav"
        "main main main main aside"
        "main main main main aside"
        "footer footer footer footer footer";
    width: 100%;
}

header {
    grid-area: "header";
}

nav {
    grid-area: "nav";
}

main {
    grid-area: "article";
    display: flex;
    flex-direction: column;
}


aside {
    grid-area: "aside";
}

footer {
    grid-area: "footer";
}
