main form fieldset {
    display: flex;
    flex-direction: column;
}

fieldset h1 {
    margin: auto;
    color: white;
}

form p {
    --margin-size: 1rem;
    --padding-size: 0.5rem;

    margin: var(--margin-size);
    padding: var(--padding-size);
}

form input, form textarea {
    box-sizing: content-box;
    padding: var(--padding-size);
    width: calc(100% - var(--padding-size));
    height: calc(100% - var(--padding-size));
}

form textarea {
    font-size: 16px;
    resize: none;
}

form input[type="submit"] {
    --padding-size: 0.5em 1em;

    width: fit-content;
    padding: var(--padding-size);
    margin: auto;
}
